.masthead {
    background: url('../img/about.jpg') no-repeat center !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}
