.header-map {
    left: 0;
    max-height: 490px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.header-title {
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
