.form-control.datepicker {
    background-color: #fff;
}

.main.container {
    margin-bottom: 5em;
    margin-top: 5em;
}

.ui.left.corner.labeled.input>.ui.dropdown>.text {
    padding-left: 1.5em;
}
